/* --------Google fonts---------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* --------- Variables --------- */
:root{
    /* font */
    --font: 'Poppins', sans-serif;
    /* colors */
    --color: #325967;
    --bg-color: #eae1e1;
    --lemon-green: #d1e01f;
}

/* base */
*{
    font-family: 'Roboto', Georgia, serif;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

body {
    background: #1f242d;
    color: #fff;
    display: grid;
    margin: auto;
}

.header-content {
    justify-content: space-between;
    text-align: center;
    display: flex;
    padding: 1rem 10%; 
    width: 100%;
    position: fixed;
    align-items: center;
    z-index: 100; 
    background: var(--color);
}

.logo {
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
    font-weight: 1000;
    cursor: default;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    font-family: 'Merriweather', serif;
}

.logo img{
    border-radius: 50%;
    height: 70px;
    width: 70px;
}

.navbar a {
    display: inline-block;
    font-size: 1.5rem;
    font-family: 'Merriweather', serif;
    color: #fff;
    text-decoration: none;
    font-weight: 1000;
    margin-left: 2.1875rem;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar a:hover {
    color:var(--lemon-green);
} 

 /* CSS for home section */
#home {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4.375rem 7% 0;
    background: #1f242d;
}

.home-content {
    max-width: 37.5rem; 
}

.home-content h3 {
    font-size: 2rem;
    font-weight: 500;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 1.875rem;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3 span {
    color: var(--lemon-green);
    font-family: 'Merriweather', serif;
    font-size: 1.8rem;
}

.home-content h1 {
    color: var(--lemon-green);
    font-family: 'Merriweather', serif;
    font-size: 2.3rem;
    font-weight: 500;
    margin: -0.1875rem 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content h1 .intro {
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
}

.home-content p{
    font-size: 1.3rem;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.home-image{
    color: #fff;
} 

.home-image img {
    border-radius: 50%;
    max-width: 25.125rem;
    margin-right: -1.25rem;
    animation: zoomIn 1s ease forwards;
    animation-delay: 2s, 3s;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    background: transparent;
    border: 0.0625rem solid var(--lemon-green);
    border-radius: 50%;
    font-size: 1.25rem;
    color: var(--lemon-green);
    text-decoration: none;
    margin: 1.875rem 0.9375rem 1.875rem 0;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.social-media a:hover {
    background: var(--lemon-green);
    color: #1f242d;
    box-shadow: 0 0 1.25rem var(--lemon-green);
}

.btn {
    display: inline-block;
    padding: 0.75rem 1.75rem;
    background: var(--lemon-green);
    border-radius: 2.5rem;
    font-size: 1rem;
    color: #1f242d;
    letter-spacing: 0.0625rem;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
}

.btn:hover{
    box-shadow: 0 0 0.625rem var(--lemon-green);
}

 /* CSS for skills section */
#skills{
    width: 100%;
    height: 100vh;
}

.skills-container p{ 
    font-size: 1.5rem;
    font-weight: 1000;
    display: flex;
    justify-content: center;
    align-items: center; 
    font-family: 'Merriweather', serif;
    color: var(--lemon-green);
} 

.skills-container{
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center; 
    margin: 5rem;
    padding: 3rem;
}

.wrapper{
    border-radius: 1rem;
    width: 60em;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 5rem;
    height: 30em;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template: 0px / 150px 150px 150px 150px 230px;
    align-content: space-between;
}

.card{
    margin: 3rem;
    width: 8em;
    height: 10em;
    padding: 0.25em 0.12em;
    display:  flex;
    align-items: center;
    flex-direction: column;
    animation: slideBottom 1s ease forwards;
}

.card-image{
    width: 6em;
    height: 6em;
    border-radius: 50%;
    border: 5px solid var(--color);
    padding: 3px;
    margin-bottom: 2em;
    background: var(--bg-color);
}

.card-image img{
    width: 100%;
    height: 100%;
    border-radius: 50%; 
    object-fit: cover; 
}

.card-content{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card-title{
    font-size: 1.2rem;
    font-weight: 500;
    position: relative;
    top: .02em;
    color: var(--bg-color)
}


/* CSS for footer */
footer {
  background: #1f242d;
  color: #f3ecec;
  line-height: 1.5;
}

/* Footer main */
.footer-main {
  display: flex;
  flex-wrap: wrap;
  animation: slideTop 1s ease forwards;
  animation-delay: calc(.2s * var(--i));
}

.footer-main-item {
  padding: 1rem;
  margin-bottom: 1.5rem;
  min-width: 12.5rem;
}

.footer-main-item h2{
    color: var(--lemon-green);
}

.service-links{
  list-style: circle;
}

ul {
  list-style: none;
  padding-left: 0;
}

footer a {
  text-decoration: none;
  color: #eee;
}

a:hover {
  color: var(--lemon-green);
}

.footer-title {
  font-size: 1.5rem;
  font-weight: 1000;
  color: #fff;
  font-family: 'Merriweather', serif;
  padding-bottom: 0.625rem;
}

/* Footer legal */
.footer-legal {
    padding: 0.9375rem 1.875rem;
    background-color: var(--color);
  }
  
  .footer-legal-list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

@media only screen and (min-width: 29.8125rem /*477px*/) {
    .header-content {

    }
    #home {

    }
    #skills {

    }
    .footer-main {
      justify-content: space-around;
  }
}

@media only screen and (min-width: 77.5rem /*1240px*/ ) {
    .header-content {

    }
    #home {

    }
    #skills {
        
    }
    .footer-main {
      justify-content: space-evenly;
  }
}

/* keyframes animation */
@keyframes slideRight {
    0% {
        transform: translateX(-6.25rem);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(6.25rem);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(6.25rem);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-6.25rem);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    
    50% {
        transform: translateY(-1.5rem);
    }

    100% {
        transform: translateX(0);
    }
}